body {
  padding-top: 60px;
}
.redTeam {
  background-color: #ffdddd;
}
.blueTeam {
  background-color: #ddddff;
}
.panel .row {
  margin-bottom: 0.5em;
}
.panel .label {
  font-size: 100%;
  font-weight: normal;
  color: #333333;
}
tr.currentStats {
  border-left: 3px solid #ffcc33;
}
