@model WuzlStats.ViewModels.Home.IndexViewModel

<ul class="nav nav-tabs">
    <li class="active"><a href="#teams" data-toggle="tab">Teams (2 vs. 2)</a></li>
    <li><a href="#singles" data-toggle="tab">Singles (1 vs. 1)</a></li>
</ul>

<div class="tab-content" style="padding-top:10px;">
    <div class="tab-pane active fade in" id="teams">
        @Html.Partial("TeamsTab")
    </div>

    <div class="tab-pane fade" id="singles">
        @Html.Partial("SinglesTab")
    </div>
</div>

<datalist id="players">
    @foreach (var p in Model.AllPlayers)
    {
        <option value="@p"></option>
    }
</datalist>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h4>Score saved</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                @{
                    var anim = "anim" + new Random().Next(1, 15) + ".gif";
                }
                <img src="~/Content/animations/@anim" alt=""/>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.nav').on('click', 'a', function(e) {
            e.preventDefault();
            window.location.hash = $(this).attr('href');
            $(this).tab('show');
        });

        $(document).ready(function() {
            if (window.location.hash) {
                $('.nav').find('a[href="' + window.location.hash + '"]').tab('show');
            }
        });
        
        $(document).ready(function () {
            if (window.location.toString().indexOf("?saved") > 0) {
                $('#successModal').modal('show');
                setTimeout('$("#successModal").modal("hide")', 7000);
            }
        });


                @* ReSharper disable Html.IdNotResolved *@
        $("#teams form").submit(function() {
            localStorage.blueOffensePlayer = $("#BlueOffensePlayer").val();
            localStorage.blueDefensePlayer = $("#BlueDefensePlayer").val();
            localStorage.redOffensePlayer = $("#RedOffensePlayer").val();
            localStorage.redDefensePlayer = $("#RedDefensePlayer").val();
            localStorage.lastSave = new Date().getTime();
        });

        $("#singles form").submit(function() {
            localStorage.bluePlayer = $("#BluePlayer").val();
            localStorage.redPlayer = $("#RedPlayer").val();
            localStorage.lastSave = new Date().getTime();
        });

        $(document).ready(function() {
            var minLastSaveDate = new Date();
            minLastSaveDate.setHours(minLastSaveDate.getHours() - 3);

            if (!localStorage.lastSave || localStorage.lastSave < minLastSaveDate.getTime()) {
                localStorage.blueOffensePlayer = "";
                localStorage.blueDefensePlayer = "";
                localStorage.redOffensePlayer = "";
                localStorage.redDefensePlayer = "";
                localStorage.bluePlayer = "";
                localStorage.redPlayer = "";
            }

            if ($("#BlueDefensePlayer").val() == "")
                $("#BlueDefensePlayer").val(localStorage.blueDefensePlayer);
            if ($("#BlueOffensePlayer").val() == "")
                $("#BlueOffensePlayer").val(localStorage.blueOffensePlayer);
            if ($("#RedDefensePlayer").val() == "")
                $("#RedDefensePlayer").val(localStorage.redDefensePlayer);
            if ($("#RedOffensePlayer").val() == "")
                $("#RedOffensePlayer").val(localStorage.redOffensePlayer);

            if ($("#BluePlayer").val() == "")
                $("#BluePlayer").val(localStorage.bluePlayer);
            if ($("#RedPlayer").val() == "")
                $("#RedPlayer").val(localStorage.redPlayer);

            if ($("#BlueOffensePlayer").val() == "") {
                $("#switchTeams").hide();
                $("#switchBlueTeam").hide();
                $("#switchRedTeam").hide();
            }

            if ($("#BluePlayer").val() == "")
                $("#switchSingles").hide();
        });

        $("#switchSingles").click(function() {
            var bluePlayer = $("#BluePlayer").val();
            $("#BluePlayer").val($("#RedPlayer").val());
            $("#RedPlayer").val(bluePlayer);
        });

        $("#switchTeams").click(function() {
            var blueOffensePlayer = $("#BlueOffensePlayer").val();
            var blueDefensePlayer = $("#BlueDefensePlayer").val();
            $("#BlueOffensePlayer").val($("#RedOffensePlayer").val());
            $("#BlueDefensePlayer").val($("#RedDefensePlayer").val());
            $("#RedOffensePlayer").val(blueOffensePlayer);
            $("#RedDefensePlayer").val(blueDefensePlayer);
        });

        $("#switchBlueTeam").click(function() {
            var offense = $("#BlueOffensePlayer").val();
            $("#BlueOffensePlayer").val($("#BlueDefensePlayer").val());
            $("#BlueDefensePlayer").val(offense);
        });

        $("#switchRedTeam").click(function() {
            var offense = $("#RedOffensePlayer").val();
            $("#RedOffensePlayer").val($("#RedDefensePlayer").val());
            $("#RedDefensePlayer").val(offense);
        });

            @* ReSharper restore Html.IdNotResolved *@
    </script>
}
