@model WuzlStats.ViewModels.Home.IndexViewModel


<ul class="nav nav-tabs">
    <li class="active"><a href="#teams" data-toggle="tab">Teams (2 vs. 2)</a></li>
    <li><a href="#singles" data-toggle="tab">Singles (1 vs. 1)</a></li>
</ul>

<div class="tab-content" style="padding-top:10px;">
    <div class="tab-pane active fade in" id="teams">
        @Html.Partial("TeamsTab")
    </div>

    <div class="tab-pane fade" id="singles">
        @Html.Partial("SinglesTab")
    </div>
</div>

<datalist id="players">
    @foreach (var p in Model.AllPlayers)
    {
        <option value="@p"></option>
    }
</datalist>

@section scripts
{
    <script>
        $('.nav').on('click', 'a', function (e) {
            e.preventDefault();
            window.location.hash = $(this).attr('href');
            $(this).tab('show');
        })

        $(document).ready(function () {
            if (window.location.hash) {
                $('.nav').find('a[href="' + window.location.hash + '"]').tab('show');
            }
        });
    </script>
}
