@model IEnumerable<WuzlStats.ViewModels.Home.PlayerResult>

<table class="table table-striped table-condensed">
    <tr>
        <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
        <th><span class="glyphicon glyphicon-thumbs-down"></span></th>
        <th></th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@(p.Wins)</td>
            <td>@(p.Losses)</td>
            <td>@Html.ActionLink(p.PlayerName, "Index", "Player", new { playerName = p.PlayerName }, null)</td>
        </tr>
    }
</table>